body {
  margin: 0 auto;
  background: #f8efff;
}
h1 {
  display: block;
  font-size: 240px;
  color: #372044;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px 0;
}

h2 {
  font-weight: 500;
  display: block;
  font-size: 100px;
  color: #372044;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.info {
  display: block;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  margin: 70px 200px;
  background: rgb(200, 194, 250);
  line-height: 2;
  background: linear-gradient(
    183deg,
    rgba(200, 194, 250, 1) 0%,
    rgba(197, 164, 255, 1) 38%,
    rgba(199, 146, 229, 1) 74%,
    rgba(236, 158, 255, 1) 100%
  );
  padding: 70px 110px;
  border-radius: 40px;
  box-shadow: 0 5px 5px #cfc9d5;
}
a {
  display: block;
  padding-top: 40px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a {
  display: block;
  margin: 0 auto;
}
.row {
  margin: 100px;
  padding: 30px;
  height: 300px;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  .row {
    height: 200px;
  }
}

.row > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  border-radius: 2%;
  box-shadow: 0 5px 5px #cfc9d5;
  display: block;
  width: 100%;
  margin: 0 auto;
}

button {
  padding: 15px 30px;
  display: block;
  margin: 0 auto;
  background: transparent;
  color: blueviolet;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: 1px solid #ffeff3;
  border-radius: 40px;
  box-shadow: 0 5px 5px #cfc9d5;
  transition: all 100ms ease-in-out;
}
button:hover {
  background: rgb(175, 171, 253);
  background: linear-gradient(
    90deg,
    rgba(175, 171, 253, 1) 0%,
    rgba(249, 221, 253, 1) 35%,
    rgba(209, 152, 251, 1) 100%
  );
  color: white;
  cursor: pointer;
}
p {
  text-align: center;
  color: #372044;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
